*.txt
Alarm.sql
*(old).rdl
*(old).sql
*(check).sql
*(special).sql
Powershell/
*.zip
*.xls
*.jar
*.exe
target/
*(week)*.rdl
*.ps1

# Default ignored files intellij idea
*/shelf/
SSRS-Export/.idea/workspace.xml
